<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let repo of gitHubRepos"
    routerLink="/github-repo/{{repo.owner.login}}/{{repo.name}}"
  >
    <ion-card-header>
      <ion-card-subtitle
        >{{repo.updated_at | date:"yyyy-MM-dd"}}</ion-card-subtitle
      >
      <ion-card-title>{{repo.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{repo.description}}</ion-card-content>
  </ion-card>
</ion-content>
