<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card
    *ngFor="let repo of gitHubRepos; trackBy: trackByRepoId"
    routerLink="/github-repo/{{repo.owner.login}}/{{repo.name}}"
  >
    <!-- この書き方だと Type 'string' is not assignable to type 'GitHubRepo' のエラーとなる。-->
    <!-- <app-github-head repo="{{repo}}"></app-github-head> -->
    <app-github-head [repo]="repo"></app-github-head>
    <ion-card-content>{{repo.description}}</ion-card-content>
  </ion-card>
</ion-content>
